body {
    background-color: #f3f0f5;
    color: #fff;
}

header {
    background-color: #004d40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px;
}